html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  padding: 0;
  overflow-x: hidden;
  max-width: 1500px;
  font-size: "sans-serif";
}
*::before,
*::after {
  box-sizing: inherit;
}
body,
h1,
h2 {
  margin: 0;
}
.header {
  background: #6998ab;
  position: sticky;
  top: 0;
  text-align: center;
  color: #ffff;
  padding: 1rem;
  z-index: 999;
}
.header a {
  color: aqua;
  margin: auto 1.5rem;
}
.header a:hover {
  color: #b1d0e0;
}
img {
  max-width: 80%;
  height: auto;
}
[id] {
  scroll-margin-top: 7.8ex;
}
.slide {
  height: auto;
  padding: 2rem;
  background: #1a374d;
  color: #ffff;
  text-align: justify;
}
.slide:nth-child(even) {
  background: #406882;
}
.slide p::first-letter {
  font-weight: bold;
  font-size: 48px;
}
h2 {
  text-align: center;
}
.caja {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}
.carrusel {
  width: 100%;
  margin: auto;
  overflow: hidden;
  background: #000000;
}
.carrusel ul {
  display: flex;
  padding: 0;
  width: 1000%;
  animation: cambio 25s linear 3s infinite;
}
.carrusel li {
  width: 100%;
  list-style: none;
}
.carrusel img {
  max-width: 100%;
  height: auto;
}
.slide-container {
  height: auto;
  background: #000000;
}
.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  padding: 5px;
  grid-gap: 5px;
}
.item {
  display: grid;
}
.item-img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.item:nth-child(1) {
  grid-column-start: span 2;
}
.item:nth-child(2) {
  grid-column-start: span 2;
}
.item:nth-child(3) {
  grid-column-start: span 2;
}
.item:nth-child(4) {
  grid-column-start: span 2;
}
.item:nth-child(5) {
  grid-column-start: span 4;
}
.item:nth-child(6) {
  grid-column-start: span 4;
}
.item:nth-child(7) {
  grid-column-start: span 2;
}
.item:nth-child(8) {
  grid-column-start: span 4;
}
.item:nth-child(9) {
  grid-column-start: span 2;
}
.item-title {
  position: absolute;
  z-index: 99;
  color: white;
  font-size: 18px;
  font-weight: 700;
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  5% {
    margin-left: 0;
  }
  10% {
    margin-left: -100%;
  }
  15% {
    margin-left: -100%;
  }
  20% {
    margin-left: -200%;
  }
  25% {
    margin-left: -200%;
  }
  30% {
    margin-left: -300%;
  }
  35% {
    margin-left: -300%;
  }
  40% {
    margin-left: -400%;
  }
  45% {
    margin-left: -400%;
  }
  50% {
    margin-left: -500%;
  }
  55% {
    margin-left: -500%;
  }
  60% {
    margin-left: -600%;
  }
  65% {
    margin-left: -600%;
  }
  70% {
    margin-left: -700%;
  }
  75% {
    margin-left: -700%;
  }
  80% {
    margin-left: -800%;
  }
  85% {
    margin-left: -800%;
  }
  90% {
    margin-left: -900%;
  }
  95% {
    margin-left: -900%;
  }
  100% {
    margin-left: -900%;
  }
}
@media screen and (max-width: 550px) {
  .header a {
    padding: 0;
    margin: 0;
  }
}
